@"
# Dependencies
**/node_modules/
**/.next/
**/out/

# .NET Build outputs
**/bin/
**/obj/
**/appsettings.Development.json

# Environment and logs
**/*.env*.local
**/npm-debug.log*
**/.vs/
**/.vscode/
"@ | Out-File -FilePath .gitignore -Encoding utf8